<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        {{>header}}
        <div class="form">
        <form>
            <input name="location" type="text" placeholder="Location">
            <button>Search</button>
        </form>
        </div>
        <p class="one">dfgd</p>
        <div class="card none">
            
            <img src="/img/day.svg" alt="">
            <div class="report">
                <p class="location">a</p>
                <div class="flex">
                    <p class="temp">Temperature:</p>
                    <p class="feels">FeelsLike:</p>
                </div>
                <p class="forecast">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, vel?</p>
            </div>

        </div>
    </div>


    
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>